.white_fullwidth_area .container {
  position: relative;
  max-width: 100%;
  margin: -50px auto 0;
  padding: 70px 0 30px;
  background: #ffffff;
  box-shadow: 0 20px 80px 0 rgb(153 153 153 / 40%);
}

.white_fullwidth_inner {
  display: flex;
  justify-content: center;
}

.welcome_text {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
}

.welcome_text h4 {
  margin-bottom: 50px;
  color: #222222;
  text-align: center;
  font-size: 36px;
}

.welcome_text li {
  margin-bottom: 30px;
  color: #777777;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.welcome_text p {
  max-width: 495px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}
